<div class="list">
  <h1><%= @list.name %></h1>
  <div class="movies">
    <% @list.bookmarks.each do |bookmark| %>
    <div>
      <div class="movie">
        <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title %>
          <h2><%= bookmark.movie.title %></h2>
          <p><%= bookmark.movie.overview %></p>
          <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
      </div>
      <div class="comment d-flex">
        <i class="fa-solid fa-quote-left me-3 grow-0"></i>
        <%= bookmark.comment %>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to "+ Add a bookmark", new_list_bookmark_path(@list), class: "add" %>
</div>
