<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="wrapper">
    <div class="navba">
      <h1><%= link_to "watchlists", lists_path %></h1>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
